body{
font-family: 'Open Sans', sans-serif;    
}






.nav-menu{
padding: 50px;
    background-color: rgba(255, 99, 71, 0.037);
   border: none;
   margin: 0;
  }

.nav-item{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.nav-list{
 list-style: none;
 text-decoration: none;
}
a{
  font-size: 25px;
  text-decoration: none;
}
a:hover{
  color: rgb(242, 76, 10);
  background-color: black;
}





.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FCEEF1;
    height: 100vh;
    width: 100vw;
    padding: 50px 0px 0px 140px;
}

.text-container{
/* width: 60%; */
/* margin: auto  */
}
.title-section{
  color: #272727;
  font-size: 80px;
  font-weight: 700;  
}

.Paragraph-section{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
}

.shop-btn{
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border-radius: 8px;
 background: #E55473;
}

.images-section{
/* padding: 100px; */

}

.image-size{
  width: 600px;
  height: 800px;
  padding-top:30px;
 margin-right: 5px;

}



/* Our feature section start from here */

 .images-feature-container{
  width: 50%;
  margin: auto;
 }

.lets-title-section{
color: #272727;
font-size: 80px;
font-weight: 600;
}

.let-images{
  width: 600px;
  height: 700px; 
}

.Paragraph-section{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;

}

.my-btn{
padding: 20px 40px;
color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
border: none;
margin-top: 20px;

}


/* my feature section start from here */
.feature-container{
  padding: 100px 240px;
  background-color: white;

}


 .my-feature-container{ 
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
    gap: 50px;  
}


.feature-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 50px;

}
.feature-description{
   margin: auto;
   width: 500px;
color: rgba(39, 39, 39, 0.60);
font-size: 25px;
font-weight: 400;
align-items: center;

}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
}


.flower-item{
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15); 


}
.image-size-A {
margin-right: 5px;
align-items: center;
height: 430px;
width: 300px;

}

.image-size-B{
    margin-right: 5px;
    align-items: center;
    height: 370px;
    width: 370px;
    margin-top:5rem;
    }
    .image-size-c{
        margin-right: 5px;
        align-items: center;
        height:70px;
        width:315px;
      margin-bottom: 200px;
 }

 .flower-button-A{
  border: none;
font-size: 25px;
font-weight:700;
text-decoration-line: underline;

}
.flower-button-B{
   
  font-size: 25px;
  font-weight:700;
  text-decoration-line: underline;
margin-top: 10px;
  border: none;
  }
  .flower-button-C{
  font-size: 25px;
  font-weight:700;
  text-decoration-line: underline;
   margin-top: 25px;
   border: none;
  }




/*Hot deal and sales  service container start from here */

.hot-deal-container{
  display: flex;
  background-color:rgba(229, 84, 115, 0.05) ;
  justify-content: center;
  align-items: center;
 padding: 100px 80px 100px 100px;
}
.hot-text-container{
text-align: center;
}

.hot-deal-title{
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-para{
 width: 52%;
 margin: auto;
 justify-content: center;
color: rgba(39, 39, 39, 0.60);
font-size: 20px;
font-weight: 400;
}

.hot-deal-image{
  padding: 10px 200px;
}
.btn-sign{
  color: #FFF;
  border: none;
  font-size: 20px;
  padding: 20px 43px;
  font-weight: 700;
  border-radius: 8px;
  background: #E55473;
  margin-top: 30px;
}


  /* Social media instagram section start from here */

  .Social-media-container{
    justify-content: space-around;
    align-items: center;
    background: #FFF;
}

.instagram-text-section{
text-align: center;
font-size: 25px;
font-weight: 400;

}

.instagram-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
align-items: center;
}
.instagram-description{
width: 80%;
margin: auto;
}



.social-flower-item{
    padding: 30px;
    display: flex;
     justify-content:space-evenly;
   align-items: center;

 } 
 .sale-title{
    padding: 50px;
 margin: auto;
    width: 180px;
    height: 50px;
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
 }

 .sale-description{
    padding: 30px;
    color: rgba(39, 39, 39, 0.60);
    align-items: center;
    font-size: 18px;  
    text-align: center;
    justify-content: center;
    font-weight: 400;
    width: 42%;
    margin: auto;  
 }

 .image-cover-A{
width: 340px;
height: 390px;
gap: 25px;

 }
 .image-cover-A{
    width: 340px;
    height: 390px;
    gap: 25px;
    background-color: #F8F8F8;
    box-shadow: 1px 5px 7px 10px grey;

     }
     .image-cover-B{
        width: 340px;
        height: 390px;
        gap: 25px;
        box-shadow: 1px 5px 7px 10px grey;
        
         }
         .image-cover-C{
            width: 340px;
            height: 390px;
            gap: 25px;
            box-shadow: 1px 5px 7px 10px grey;
             }
           
         .image-cover-D{
            width: 340px;
            height: 390px;
            gap: 25px;
            box-shadow: 1px 5px 7px 10px grey;
             }



/* Latest deal section start here */

.flower-banner{ 
    background-image: url('../images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    /* background-position: 100% 100%; */
    padding: 120px 285px 120px;
    }    

    .Latest-title{
       
     text-align: center;
    }

    .latest-description{
   
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      

    }

    .Latest-text-section{
        text-align: center;
        
      }   
      
  
      input{
      
        width: 500px;
        height: 60px;
        color: rgba(39, 39, 39, 0.60);
       text-align: center;
      font-size: 16px;
      font-weight: 400;
   border: none;
      }
      .my-contact{
        text-align: center;
        justify-content: center;
      }

      .my-subscriber-btn{
        margin-right: 10px;
      }

      /* footer section start from here */

      footer{
        padding: 100px 60px;
       color: white;
       background-color: black;
      
   
      }

.footer-title{
  font-size: 48px;
  font-weight: 800;
}


.footer-text-section{
  padding: 20px;
  text-align: center;
  

  
}



      .flower{
color:  #E55473;

     }
      .hr{
       background-color:  red;
       color: red;
       width: 50%;
       margin: auto;
      }